ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	width: 12.5rem;
	gap: 32px;
	padding: 0;
}
li {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.label {
	font-size: 1rem;
	color: hsl(210deg 20% 55%);
}
.value {
	font-size: 1.25rem;
	font-weight: bold;
}
