html {
	--red: oklch(0.65 0.3 19.41);
}

.particleButton {
	position: relative;
	padding: 16px;
	background: transparent;
	border: none;
	border-radius: 50%;
	cursor: pointer;

	&:hover {
		background: hsl(0deg 0% 100% / 0.1);

		path {
			stroke: var(--red);
		}
	}

	&.liked path {
		fill: var(--red);
		stroke: var(--red);
	}
}

.particleButton svg {
	position: relative;
	display: block;
	width: 3rem;
	height: 3rem;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

@keyframes twinkle {
	from {
		opacity: var(--twinkle-amount);
	}
	to {
		opacity: 1;
	}
}

.particle {
	position: absolute;
	inset: 0;
	margin: auto;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: white;
	pointer-events: none;
	animation:
		twinkle var(--twinkle-duration) infinite alternate ease-in-out,
		fadeToTransparent var(--fade-duration) var(--fade-delay) forwards,
		disperse var(--disperse-duration) forwards var(--particle-curve);
}

.popCircle {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background: hsl(270deg 100% 80%);
	opacity: 0;
}

@keyframes fromShrunken {
	from {
		transform: scale(0);
	}
}

@keyframes circleColorShift {
	from {
		background: hsl(350deg 100% 60%);
	}
}

.particleButton.liked .popCircle {
	animation:
		fromShrunken var(--pop-circle-duration),
		circleColorShift var(--pop-circle-duration),
		fadeFromOpaque 300ms var(--pop-circle-duration) backwards;
}

.particleButton.liked svg {
	animation: fromShrunken 2000ms var(--pop-circle-duration) backwards
		linear(
			0,
			0.04 1.1%,
			0.156 2.3%,
			1.015 8.5%,
			1.157 10.4%,
			1.217 12.4%,
			1.217 13.6%,
			1.193 15%,
			0.992 21.7%,
			0.964 23.5%,
			0.952 25.3%,
			0.957 27.9%,
			1.002 34.7%,
			1.01 38.2%,
			0.998 51%,
			1
		);
}

@keyframes hueRotate {
	to {
		filter: hue-rotate(var(--hue-rotation));
	}
}
