h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.container {
	background: hsl(210deg 15% 6%);
	text-align: center;
	color: black;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
