body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: hsl(210deg 15% 6%);
	color: white;
}
.wrapper {
	flex: 1;
	display: grid;
	place-content: center;
}
.bar {
	width: 100px;
	height: 30px;
	border-radius: 3px;
	background: hsl(45deg 100% 50%);
}
.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 16px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
}
input {
	display: block;
	width: 400px;
	max-width: 75%;
}

@keyframes twist {
	from {
		transform: rotate(calc(var(--rotation) * -1));
	}
	to {
		transform: rotate(var(--rotation));
	}
}

.bar {
	--rotation: 0deg;
	animation: twist 750ms infinite alternate ease-in-out;
}
